.page {
  padding: var(--space-6);
  max-width: 900px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.rowColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 320px;
}

.title {
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: var(--space-3);
  align-items: center;
  margin-bottom: var(--space-4);
}